.image{  
    img{
        width: 2000px;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        // border: 2px solid white;
        // margin: 0.1rem;
    } 
}